<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basic" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="nettcp" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="ws" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/calc" binding="basicHttpBinding"
                bindingConfiguration="basic" contract="CalcReference.ICalculator"
                name="basic" />
            <endpoint address="http://localhost:9001/calc" binding="wsHttpBinding"
                bindingConfiguration="ws" contract="CalcReference.ICalculator"
                name="ws">
                <identity>
                    <userPrincipalName value="KEVINJONESWIN81\kevinj" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9002/calc" binding="netTcpBinding"
                bindingConfiguration="nettcp" contract="CalcReference.ICalculator"
                name="nettcp">
                <identity>
                    <userPrincipalName value="KEVINJONESWIN81\kevinj" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>