<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<div>
    <span id="sendevent" style="cursor: pointer">Send Event</span>
</div>
<script src="javascripts/libs/jquery-2.1.0.js"></script>
<script src="javascripts/eventSource.js"></script>
</body>
</html>