<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.19.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/MicrosoftAjax.js"></script>
    <script type="text/javascript" src="~/Scripts/MicrosoftMvcAjax.js"></script>
    <script type="text/javascript" src="~/Scripts/jquerytest.js"></script>
</head>
    <body>
        <h1>Changed Layout</h1>
        @RenderBody()
    </body>
</html>
