<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" internalLogFile="c:\temp\nlog.log" internalLogLevel="Debug" 
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
    <target name="file" xsi:type="File" fileName="${basedir}/app_data/shoes.log" layout="${date}: ${message}" />
    <!--<target name="eventlog" xsi:type="EventLog" source="MBlog" log="Application" layout="${date}: ${message} ${stacktrace}" />-->
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>

