<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="CalcService.Calculator">
        <endpoint address="http://localhost:9001" binding="wsHttpBinding" contract="Calculator.ICalculator"/>
        <endpoint address="" binding="basicHttpBinding" contract="Calculator.ICalculator"/>
        <endpoint address="net.tcp://localhost:9005" binding="netTcpBinding" contract="Calculator.ICalculator"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000"/>
          </baseAddresses>
        </host>
      </service>
     
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>