<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TodoEntities" connectionString="metadata=res://*/TodoEntities.csdl|res://*/TodoEntities.ssdl|res://*/TodoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Todos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>