<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Server.Calculator">
        <endpoint address="http://localhost:9000/calc" binding="basicHttpBinding" contract="Calc.ICalculator" name="basic"/>
        <endpoint address="http://localhost:9001/calc" binding="wsHttpBinding" contract="Calc.ICalculator" name="ws"/>
        <endpoint address="net.tcp://localhost:9002/calc" binding="netTcpBinding" contract="Calc.ICalculator" name="nettcp"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>