# User-specific files
*.suo
*.user


/Foxit-Test/Foxit-Test/obj/
/Foxit-Test/Foxit-Test/bin/
/Foxit-Test/Foxit-Test.userprefs
/ICSA-Android/ICSA.Droid/obj/
/ICSA-Android/ICSA.Droid/bin/
/ICSA-Android/ICSA.Droid.DataLayer/obj/
/ICSA-Android/ICSA.Droid.DataLayer/bin/
/ICSA-Android/ICSA.Droid/ICSA.Droid.userprefs
/ICSA-Android/ICSA.Droid.userprefs
/ICSA-Android/ICSA.Integration.Test/bin
/ICSA-Android/ICSA.Integration.Test/obj
/ICSA-Android/ICSA.Droid/packages/
/ICSA-Android/.DS_Store
/ICSA-Android/ICSA.Droid.Application2/.DS_Store
/ICSA-iOS/ICSA.iOS.userprefs
/ICSA-Portable/ICSA.DataLayer/obj/
/ICSA-Portable/ICSA.DataLayer/bin/
/ICSA-Portable/ICSACore.IntegrationTest/obj/
/ICSA-Portable/ICSACore.IntegrationTest/bin/
/ICSA-Portable/ICSACore.UnitTest/obj/
/ICSA-Portable/ICSACore.UnitTest/bin/
/ICSA-Win7/**/obj/
/ICSA-Win7/**/bin/
/ICSA-Win7/packages/**
/ICSA-Portable/CoreUnitTest/**/obj/
/ICSA-Portable/CoreUnitTest/**/bin/
/.DS_Store
/Core-Tests/ICSA.Core.UnitTest/bin/Debug
