<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <progress id="uploadProgress" max="100"></progress>
    <form id="petowner">
        <p>
            Name: <input type="text" name="name"/>
        </p>
        <p>
            Pet: <select name="pet">
                <option>Cat</option>
                <option>Dog</option>
            </select>
        </p>
        <p>
            <input type="file" name="file"/>
        </p>
        <p>
            <input type="submit" value="Upload" id="submit"/>
        </p>
    </form>
  <script src="javascripts/libs/jquery-2.1.0.js"></script>
  <script src="javascripts/app.js"></script>
  </body>
</html>